* text=auto !eol
/ApplicationResources.properties -text
/build.properties -text
/build.xml -text
jsp/_tablaItem.jsp -text
jsp/_tablaMiembros.jsp -text
jsp/_tablaTiposItem.jsp -text
jsp/agregar_miembro.jsp -text
jsp/agregar_proyecto.jsp -text
jsp/agregar_usuarios.jsp -text
jsp/config.jsp -text
jsp/estilos.css -text
jsp/footer.jsp -text
jsp/html_head.jsp -text
jsp/iconos/Home.png -text
jsp/iconos/agregar_item.png -text
jsp/iconos/agregar_proyecto.png -text
jsp/iconos/agregar_usuario.png -text
jsp/iconos/borrar.png -text
jsp/iconos/calback.jpg -text
jsp/iconos/cambiar_estado.png -text
jsp/iconos/close.gif -text
jsp/iconos/drop1.gif -text
jsp/iconos/drop2.gif -text
jsp/iconos/historial.png -text
jsp/iconos/left1.gif -text
jsp/iconos/left2.gif -text
jsp/iconos/listar_proyectos.png -text
jsp/iconos/listar_usuarios.png -text
jsp/iconos/proyecto_editar.png -text
jsp/iconos/proyecto_trabajar.png -text
jsp/iconos/right1.gif -text
jsp/iconos/right2.gif -text
jsp/iconos/usuario_editar.png -text
jsp/iconos/ver_detalles.png -text
jsp/index.jsp -text
jsp/item_cambiarEstado.jsp -text
jsp/item_editar.jsp -text
jsp/item_eliminar.jsp -text
jsp/item_historial.jsp -text
jsp/listar_proyectos.jsp -text
jsp/listar_usuarios.jsp -text
jsp/login.jsp -text
jsp/popcalendar.js -text
jsp/proyecto_borrar.jsp -text
jsp/proyecto_editar.jsp -text
jsp/proyecto_trabajar.jsp -text
jsp/sistema.jsp -text
jsp/usuario_editar.jsp -text
jsp/usuario_eliminar.jsp -text
lib/antlr-2.7.2.jar -text
lib/bsf-2.3.0.jar -text
lib/commons-beanutils-1.8.0.jar -text
lib/commons-chain-1.2.jar -text
lib/commons-digester-1.8.jar -text
lib/commons-fileupload-1.1.1.jar -text
lib/commons-io-1.1.jar -text
lib/commons-logging-1.0.4.jar -text
lib/commons-validator-1.3.1.jar -text
lib/jstl-1.0.2.jar -text
lib/oro-2.0.8.jar -text
lib/servlet-api.jar -text
lib/standard-1.0.6.jar -text
lib/struts-core-1.3.10.jar -text
lib/struts-el-1.3.10.jar -text
lib/struts-extras-1.3.10.jar -text
lib/struts-faces-1.3.10.jar -text
lib/struts-mailreader-dao-1.3.10.jar -text
lib/struts-scripting-1.3.10.jar -text
lib/struts-taglib-1.3.10.jar -text
lib/struts-tiles-1.3.10.jar -text
src/unlp/edu/action/AgregarMiembroAction.java -text
src/unlp/edu/action/AgregarProyectoAction.java -text
src/unlp/edu/action/AgregarUsuarioAction.java -text
src/unlp/edu/action/CambiarEstadoAction.java -text
src/unlp/edu/action/EditarItemAction.java -text
src/unlp/edu/action/EditarProyectoAction.java -text
src/unlp/edu/action/EditarUsuarioAction.java -text
src/unlp/edu/action/EliminarProyectoAction.java -text
src/unlp/edu/action/EliminarUsuarioAction.java -text
src/unlp/edu/action/LoginAction.java -text
src/unlp/edu/core/Estado.java -text
src/unlp/edu/core/EstadoItem.java -text
src/unlp/edu/core/Item.java -text
src/unlp/edu/core/Main.java -text
src/unlp/edu/core/Miembro.java -text
src/unlp/edu/core/Proyecto.java -text
src/unlp/edu/core/Role.java -text
src/unlp/edu/core/Sistema.java -text
src/unlp/edu/core/TipoItem.java -text
src/unlp/edu/core/Usuario.java -text
/struts-config.xml -text
/validation.xml -text
/validator-rules.xml -text
/web.xml -text
