* text=auto !eol
/aaaa.jpage -text
/build.xml -text
jsp/_tablaItem.jsp -text
jsp/agregar_proyecto.jsp -text
jsp/agregar_usuarios.jsp -text
jsp/config.jsp -text
jsp/estilos.css -text
jsp/footer.jsp -text
jsp/html_head.jsp -text
jsp/iconos/agregar_proyecto.png -text
jsp/iconos/agregar_usuario.png -text
jsp/iconos/cambiar_estado.png -text
jsp/iconos/historial.png -text
jsp/iconos/listar_proyectos.png -text
jsp/iconos/listar_usuarios.png -text
jsp/iconos/proyecto_editar.png -text
jsp/iconos/proyecto_trabajar.png -text
jsp/iconos/usuario_editar.png -text
jsp/iconos/ver_detalles.png -text
jsp/index.jsp -text
jsp/listar_proyectos.jsp -text
jsp/listar_usuarios.jsp -text
jsp/login.jsp -text
jsp/proyecto_trabajar.jsp -text
jsp/sistema.jsp -text
lib/servlet-api.jar -text
src/unlp/edu/core/Estado.java -text
src/unlp/edu/core/EstadoItem.java -text
src/unlp/edu/core/Item.java -text
src/unlp/edu/core/Main.java -text
src/unlp/edu/core/Miembro.java -text
src/unlp/edu/core/Proyecto.java -text
src/unlp/edu/core/Role.java -text
src/unlp/edu/core/Sistema.java -text
src/unlp/edu/core/TipoItem.java -text
src/unlp/edu/core/Usuario.java -text
src/unlp/edu/servlets/LoginServlet.java -text
/web.xml -text
